<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>课工场</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/service/surveyTypeService.js"></script>
    <script type="text/javascript" src="/js/controller/baseController.js"></script>
    <script type="text/javascript" src="/js/controller/surveyTypeController.js"></script>

    <style>
        .row {
            margin-top: 20px;
        }

        .del-btn {
            margin-left: 900px;
        }
    </style>
</head>
<body ng-app="teachermanagement" ng-controller="surveyTypeController" ng-init="findById();findAll();">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">添加调查问卷内容</h3>
</div>
<div class="box-body" id="app">

    <div class="form-group form-inline">
        <select ng-model="surveyType" ng-change="findById()"
                ng-options="x.id as x.name for x in surveyContentList"></select>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="addTableRow()">添加一列</button>
            <button type="button" class="btn btn-default" ng-click="save()">保存</button>
        </div>
    </div>


    <div class="panel panel-default "  ng-repeat="pojo in entity">
        <div class="panel-heading">
            <h3 class="panel-title">
                调查内容：<input ng-model="pojo.content" type="text" style="width: 300px">
                <button style="margin-left: 100px" type="button" class="btn bg-olive btn-xs" title="删除这一项" ng-click="delTableRow($index)">删除这一项</button>
            </h3>

        </div>
        <div class="panel-body">
            <table  class="table table-bordered table-striped table-hover dataTable">
                <tr ng-repeat="item in options">
                    <td><label>选项{{ item.index }}：<input ng-model="pojo.options[$index].option" type="text"></label></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
