<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>课工场</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <script src="/js/layer/layer.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">评测列表</h3>
</div>

<div class="box-body" id="app">

    <div class="table-box">

        <div class="box-tools pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"
                            title="新建测评" @click="edit('新建')"><i class="fa fa-file-o"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>


        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th>编号</th>
                <th>描述</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>老师类型</th>
                <th>学期</th>
                <th>参加本次测评的班级</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in evaluatingList">
                <td>{{index+1}}</td>
                <td>{{item.describe}}</td>
                <td>{{item.startTime}}</td>
                <td>{{item.endTime}}</td>
                <td>{{item.teacherType | teacherName}}</td>
                <td>{{item.grade.semester}}</td>
                <td>
                       <span v-for="className in  item.classNameList">
                           {{className}}&nbsp;&nbsp;
                       </span>
                </td>
                <td>
                    <button type="button" class="btn bg-olive btn-xs" @click="del(item.id)">删除</button>
                    <button type="button" class="btn bg-olive btn-xs"
                            @click="getEvaluating(item.id)">修改
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{title}}
                    </h4>
                </div>
                <div class="modal-body">
                    <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                        <tr>
                            <td>描述</td>
                            <td><input type="text" v-model="evaluating.describe" style="width: 196px;"></td>
                        </tr>
                        <tr>
                            <td>开始时间</td>
                            <td><input type="datetime-local" v-model="evaluating.startTime"></td>
                        </tr>
                        <tr>
                            <td>结束时间</td>
                            <td><input type="datetime-local" v-model="evaluating.endTime"></td>
                        </tr>
                        <tr>
                            <td>老师类型</td>
                            <td>
                                <select v-model="evaluating.teacherType">
                                    <option value="2">班主任</option>
                                    <option value="1">教员</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>学期</td>
                            <td>
                                <select v-model="evaluating.grade.id" @change="loadClass()">
                                    <option v-for="item in gradeList" :value="item.id">{{item.semester}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>参加本次评测的班级</td>
                            <td>
                                <span v-for="item in classList">
                                     <input type="checkbox" @click="addClassName(item.className)"
                                            :value="item.className">{{item.className}}
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" @click="save()" class="btn btn-primary">
                        保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<!-- /.box-body -->
</body>
</html>
<script>
    var evaluating = {
        id: '',
        startTime: '',
        endTime: '',
        teacherType: '',
        grade: {
            id: ''
        },
        describe: '',
        classNameList: []
    }
    var vm = new Vue({
        el: "#app",
        data: {
            classList: [],
            evaluatingList: [],
            title: '修改',
            gradeList: [],
            evaluating: {
                id: '',
                startTime: '',
                endTime: '',
                teacherType: '',
                grade: {
                    id: ''
                },
                describe: '',
                classNameList: []
            }
        },
        filters: {
            teacherName: function (value) {
                if (value == 1) {
                    return "教员";
                }
                if (value == 2) {
                    return "班主任";
                }

            }
        },
        methods: {
            //验证两个时间 间隔
            verificationDate: function (startTime, endTime) {
                startTime = startTime.replace("T", " ");
                endTime = endTime.replace("T", " ");
                var date1 = new Date(startTime);
                var date2 = new Date(endTime);

                return Math.floor((date2 - date1) / 1000 / 60);
            }
            ,
            verification: function () {
                var describe = this.evaluating.describe;
                var startTime = this.evaluating.startTime;
                var endTime = this.evaluating.endTime;
                var teacherType = this.evaluating.teacherType;
                var gradeId = this.evaluating.grade.id;
                var classNameListSize = this.evaluating.classNameList.length;

                if (describe == "" || describe == null) {
                    layer.msg('请输入描述');
                    return false;
                }
                if (this.verificationDate(startTime, endTime) < 30) {
                    layer.msg('结束时间至少大于开始时间30分钟');
                    return false;
                }
                if (startTime == "" || startTime == null) {
                    layer.msg('请选择开始时间');
                    return false;
                }
                if (new Date(startTime).getTime() < new Date().getTime()) {
                    layer.msg('开始时间必须大于或等于当前时间');
                    return false;
                }
                if (endTime == "" || endTime == null) {
                    layer.msg('请选择结束时间');
                    return false;
                }
                if (teacherType == "" || teacherType == null) {
                    layer.msg('请选择老师类型');
                    return false;
                }
                if (gradeId == "" || gradeId == null) {
                    layer.msg('请选择学期');
                    return false;
                }
                if (classNameListSize == "" || classNameListSize == null || classNameListSize == 0) {
                    layer.msg('请选择参加本次测评的班级');
                    return false;
                }
                return true;

            },
            edit: function (title) {
                this.evaluating = evaluating;
                this.evaluating.teacherType = 1;
                this.evaluating.grade.id = this.gradeList[0].id;
                date = new Date();
                month = date.getMonth() + 1;
                if (month <= 9) {
                    month = "0" + month;
                }
                var minutes1 = date.getMinutes() + 1;

                minutes1 = minutes1 > 9 ? minutes1 : "0" + minutes1;

                str1 = date.getFullYear() + "-" + month + "-" + date.getDate() + "T" + date.getHours() + ":" + minutes1;

                date.setTime(date.getTime() + 30 * 60 * 1000);

                var minutes2 = date.getMinutes() + 1;

                minutes2 = minutes2 > 9 ? minutes2 : "0" + minutes2;

                str2 = date.getFullYear() + "-" + month + "-" + date.getDate() + "T" + date.getHours() + ":" + minutes2;

                this.evaluating.startTime = str1;
                this.evaluating.endTime = str2;
                this.title = title;
                this.loadClass();
            },
            del: function (id) {
                this.$http.get('/evaluating/del?id=' + id).then(function (res) {
                    layer.msg(res.body.message);
                    if (res.body.status == 200) {
                        location.reload();
                    }
                }, function (res) {
                    layer.msg('网络异常，请稍后再试...');
                });
            },
            loadClass: function () {//加载班级
                this.$http.get('/getAllClasses?typeId=' + this.evaluating.grade.id).then(function (res) {
                    this.classList = res.body;
                }, function (res) {
                    layer.msg('网络异常，请稍后再试...');
                });
            }
            ,
            getEvaluating: function (id) {
                this.$http.get('/evaluating/getEvaluatingById?id=' + id).then(function (res) {
                    if (res.body.status == 200) {
                        this.evaluating = res.body.data;
                        this.evaluating.startTime = this.evaluating.startTime.replace(" ", "T");
                        this.evaluating.endTime = this.evaluating.endTime.replace(" ", "T");
                        this.evaluating.classNameList = [];
                        this.loadClass();
                        $('#myModal').modal('show')
                    } else {
                        layer.msg(res.body.message);
                    }

                }, function (res) {
                    layer.msg('网络异常，请稍后再试...');
                });
            },
            save: function () {
                if (!this.verification()){
                    return;
                }
                this.evaluating.startTime = this.evaluating.startTime.replace("T", " ");
                this.evaluating.endTime = this.evaluating.endTime.replace("T", " ");
                this.$http.post('/evaluating/save', this.evaluating).then(function (res) {
                    layer.msg(res.body.message);
                    if (res.body.status == 200) {
                        location.reload();
                    }
                }, function (res) {
                    layer.msg('网络异常，请稍后再试...');
                });
            },
            addClassName: function (className) {
                if (this.evaluating.classNameList.indexOf(className) != -1) {
                    this.evaluating.classNameList.splice(this.evaluating.classNameList.indexOf(className), 1);
                } else {
                    this.evaluating.classNameList.push(className);
                }
            }
        }
        ,
        mounted: function () {
            this.$http.get('/evaluating/getEvaluatingList').then(function (res) {
                this.evaluatingList = res.body;
            }, function (res) {
                layer.msg('网络异常，请稍后再试...');
            });

            //加载学期
            this.$http.get('/grade/getGradeList').then(function (res) {
                this.gradeList = res.body;
            }, function (res) {
                layer.msg('网络异常，请稍后再试...');
            })
        }
    });
</script>