<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.cn.wei.dao.AdminDao">
    <select id="login" resultType="com.management.cn.entity.Teacher">
        select * from teacher where name=#{name} and pwd=#{pwd}
    </select>

    <select id="queryType" resultType="com.management.cn.entity.Teacher">
        select type from teacher
    </select>

    <update id="updatePwd">
           UPDATE role SET name=#{name},pwd=#{pwd} WHERE id=#{id}
    </update>
</mapper>
