<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.cn.chen.dao.ITeacherDao">



    <select id="getTeacher" resultType="com.management.cn.entity.Teacher">
        select * from teacher where name=#{name}
    </select>

    <select id="getTea" resultType="com.management.cn.entity.Teacher">
        select * from teacher where type=#{type}
    </select>

    <update id="updatePassword" parameterType="com.management.cn.entity.Teacher">
		update teacher set pwd=#{pwd} where teacherid=#{teacherid}
	</update>

</mapper>
