<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/styleLogin.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <link rel="icon" href="/image/kgclogo.jpg" type="image/x-icon" />
    <style type="text/css">
        body {
            width：100%;
            height: 100%;
            background-image: url("/image/kgcbg2.png");
            background-repeat: no-repeat;

        }

    </style>


</head>
<body>
<hgroup>
    <h1>Welcome to the evaluation system</h1>
    <h3>亲爱的管理员，您好！</h3>
</hgroup>
<form action="/dologin" method="post">
    <div class="group">
        <input type="text" name="name"><span class="highlight"></span><span class="bar"></span>
        <label>Name</label>
    </div>
    <div class="group">
        <input type="password" name="pwd"><span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
    </div>
    <button class="button buttonBlue">登录
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>
</body>
</html>