<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <link rel="icon" href="/image/kgclogo.jpg" type="image/x-icon" />
</head>
<body>

<div style="padding: 100px 100px 10px;">
<form action="/dologin" method="post" class="bs-example bs-example-form" role="form">

    <div class="input-group">
        <span class="input-group-addon">姓名:</span>

        <input type="text" class="form-control" name="name" placeholder="请输入姓名">
    </div>
    <div class="input-group">
        <span class="input-group-addon">密码:</span>
        <input type="password" class="form-control" name="pwd" placeholder="请输入密码">
    </div>
     <button class="btn btn-default" style="align-content: center">登录</button>
</form>
</div>
</body>
</html>