<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <link rel="icon" href="/image/kgclogo.jpg" type="image/x-icon" />
</head>
<body>
<div class="">

        <form action="/logout" method="post" role="form">
            <button>注销</button>
        </form>
</div>
        <table border="1" width="97%" align="center" class="table table-hover">
            <tr class="success">
                <th>排名</th>
                <th>教师姓名</th>
                <th>评测时间</th>
                <th>评测平均分</th>
            </tr>
            <tr th:each="list,item: ${TeacherScore.list}">
                <td th:text="${item.count}"></td>
                <td th:text="${list.teacher.name}"></td>
                <td th:text="${#dates.format(list.date,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${list.score}"></td>
            </tr>
        </table>


</body>
</html>