<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./wei/layui/lay/modules/layer.js"></script>
<!--<script src="${ctx}/static/js/plugins/mloading/jquery.mloading.js"></script>-->
<body>

<table class="tb_list">
    <tr>
        <td align="center"><input type="checkbox" id="SelectAll"
                                  onclick="selectAll();"/> 全选
        </td>
        <th>序号</th>

    </tr>
    <tr th:each="list : ${list.list}">
        <td style="display:none" th:text="${list.stu_id}"></td>
        <td align="center"><input type="checkbox" id="subcheck"
                                  name="check" th:text="${list.stu_id}" th:value="${list.stu_id}"/>
        </td>
        <td></td>
    <tr>
</table>
<button class="btn btn-primary btn-md" type="button"
        id="deleteButton">删除
</button>
</body>
</html>
