<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/styleLogin.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <script type="text/javascript" src="../static/js/vue-resource.js"></script>
    <link rel="icon" href="/image/kgclogo.jpg" type="image/x-icon" />
</head>

<style>
    *{
        margin: 0;
        padding: 0;
    }
    table{
        text-align: center;
    }

    #div1{
        margin-top: 100px;
    }
    body {
        width：100%;
        height: 100%;
        background-image: url("/image/kgcbg2.png");
        background-repeat: no-repeat;
          }


</style>

<body>
    <!--<div align="center" id="div1">
        <form action="checkLogin" >
            <table border="1">
                <tr>
                    <td>用户名:</td>
                    <td><input v-model="username" name="username" th:value="${username}"><span id="usernameInfo" ></span></td>
                </tr>
                <tr>
                    <td>密码:</td>
                    <td><input v-model="password" name="password"><span id="passwordInfo" ></span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3 id="LoginInfo"></h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><button @click="sub()">登录</button></td>
                </tr>
            </table>
        </form>
    </div>-->


 <!--   <div style="padding: 10px 400px 10px;" id="div1">
        <form action="/checkLogin" method="post" class="bs-example bs-example-form" role="form">

            <div class="input-group">
                <span class="input-group-addon">姓名:</span>

                <input type="text" class="form-control" name="username" placeholder="请输入姓名" v-model="username" th:value="${username}">
            </div>
            <div class="input-group">
                <span class="input-group-addon">密码:</span>
                <input type="password" class="form-control" name="password" placeholder="请输入密码" v-model="password">
            </div>

            <button class="btn btn-primary  btn-block" style="align-content: center">登录</button>
        </form>
    </div>-->
    <hgroup>
        <h1>Welcome to the evaluation system</h1>
        <h3>教务管理员，您好！</h3>
    </hgroup>
    <form action="/checkLogin" method="post">
        <div class="group">
            <input type="text" name="username" v-model="username" th:value="${username}"><span class="highlight"></span><span class="bar"></span>
            <label>Name</label>
        </div>
        <div class="group">
            <input type="password" name="password" v-model="password"><span class="highlight"></span><span class="bar"></span>
            <label>Password</label>
        </div>
        <button class="button buttonBlue">登录
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>
</body>




</html>
<script>

    // $(function(){
    //
    //     $("from").submit(function(){
    //         var username =$("#username").val();
    //         var password=$("#passowrd").val();
    //         // if(usenrmae==""||username==null){
    //         //     $("usernameInfo").html("用户名不能为空!");
    //         //     return false;
    //         // }
    //         alert(1);
    //         $.get("check",{"username":username,"passowrd":password},function(r){
    //             alert(r);
    //
    //         });
    //     });
    //
    //
    // });

    var vm1=new Vue({
        el:'#div1',
        data:{
            username:'',
            password:'',
            bool:false,
            pwdInfo:'',
            userInfo:'',
        },
        methods:{
            // sub:function(){
            //     this.$http.get('checkLogin',{params:{'username':this.username,'password':this.password}}).then(
            //         function (res) { window.alert(1)},/*请求成功返回文本文件的身体*/
            //         function (res) { alert(res.status )} /*请求失败返回的是请求的状态码*/
            //     );
            // },
        },

    });

</script>