<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .container {
            margin-top: 50px;
        }

        .btn-group {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <div class="btn-group">
        <button type="button" class="btn btn-default">删除</button>
        <button type="button" class="btn btn-default">添加
        </button>
    </div>
    <table class="table table-striped table-bordered  table-condensed">
        <thead>
            <th><input type="checkbox"></th>
            <th>序号</th>
            <th>调查内容</th>
            <th v-for="item in select">选项{{item.value}}</th>
            <th>操作</th>
        </thead>
        <tbody>
            <tr v-for="(item,index) in surveyContentList">
                <td><input type="checkbox"></td>
                <td>{{index+1}}</td>
                <td>{{item.content}}</td>
                <td v-for="o in item.options">{{o.option}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-xs">修改</button>
                    <button type="button" class="btn btn-primary btn-xs">删除</button>
                    <button type="button" class="btn btn-primary btn-xs" @click="details(item.id)">详情</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            surveyContentList: [],
            select: [],
        },
        mounted: function () {
            //TODO 代码冗余
            /* 获取调查问卷问题选项格式 */
            this.$http.get('http://localhost:8080/survey_type/getSurveyTypeById', {params: {id: [[${surveyTypeId}]]}}).then(function (res) {
                var surveyType = res.body;
                /* 页面title */
                document.title = surveyType.name;
                /* 问题选项select */
                this.select = JSON.parse(surveyType.options);
            }, function (res) {
                alert(res.status);
            });
            /* 获取调查问卷内容 */
            this.$http.get('http://localhost:8080/survey_content/getContentBySurveyTypeId', {params: {surveyTypeId: [[${surveyTypeId}]]}}).then(function (res) {
                this.surveyContentList = res.body;
            }, function (res) {
                alert(res.status);
            });
        }
    })
</script>