<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        li{list-style-type: none;width: 40%;background-color: aqua;line-height:50px}
    </style>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
       <div>
           <h1 th:text="'欢迎使用评测系统，您将对'+${grade.class_name}+'班级老师进行测评'"></h1><button>退出系统</button>
           <input type="hidden" id="grade" th:value="${grade.class_id}">
           <ul>
               <li>教员<input style="right: 0"  type="button" onclick="jclick(1)" value="开始测评"></li>
               <li>班主任<input style="right: 0" type="button" onclick="jclick(2)" value="开始测评"></li>
           </ul>
       </div>
<script>
    function jclick(index) {
        var grade=$("#grade").val();
        alert(grade)
        if(index==1){
            window.location="/evaluation?key=class_jy&grade="+grade;
        }else {
            window.location="/evaluation?key=class_bzr&grade="+grade;
        }
    }
</script>
</body>
</html>