<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>课工场</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

</head>
<style>
    .long-center {
        margin-left: 50px;
    }
</style>
<script>
    function jclick(index) {
        var grade = $("#grade").val();
        var key = "";
        if (index == 1) {
            key = "class_jy";
        } else {
            key = "class_bzr";
        }
        $.ajax({
            url: "/isEvaluation?key=" + key + "&classId=" + grade,
            dataType: "json",
            type: "get",
            success: function (data) {
                if (data.status != 200) {
                    $('#myModal').modal('show');
                    $(".modal-body").html(data.message);
                } else {
                    $("#key").val(key);
                    $("#gradeId").val(grade);
                    $("#to-evaluation").submit();
                }
            }
        })
    }
</script>
<body class="hold-transition skin-red sidebar-mini">
<form action="/evaluation" method="post" id="to-evaluation">
    <input type="hidden" id="key" name="key">
    <input type="hidden" id="gradeId" name="grade">
</form>
<!-- .box-body -->

<div class="box-header with-border">

</div>

<div class="box-body">
    <!-- 数据表格 -->

    <div class="table-box">
        <!--工具栏-->
        <div class="pull-center">
            <div class="form-group form-inline" style="text-align: center">
                <div class="btn-group">
                    <h2 th:text="'欢迎使用评测系统，您将对'+${grade.class_name}+'班级老师进行测评'"></h2>
                </div>
            </div>
        </div>

        <!--工具栏/-->

        <!--数据列表-->
        <div>
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <input type="hidden" id="grade" th:value="${grade.class_id}">
                <thead>
                <tr>
                    <th class="sorting_asc" colspan="4">
                        老师
                    </th>
                    <th class="sorting_asc" colspan="1">
                        操作
                    </th>
                </tr>
                <tr>
                    <td colspan="4">班主任</td>
                    <td colspan="1">
                        <input style="right: 0" type="button" onclick="jclick(2)" value="开始测评" class="btn btn-primary">
                    </td>

                </tr>
                <tr>
                    <td colspan="4">教员</td>
                    <td colspan="1">
                        <input style="right: 0" type="button" onclick="jclick(1)" value="开始测评" class="btn btn-primary">
                    </td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!--数据列表/-->
    </div>
    <!-- 数据表格 /-->
</div>
<!-- /.box-body -->


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>