<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/toEvaluation" method="post">
<table align="center">
    <tr>
        <td>班级：</td>
        <td>
            <input type="text" name="grade" >
        </td>
    </tr>
    <tr>
        <td>姓名：</td>
        <td>
            <input type="text" name="stuname" >
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <input type="submit" value="登录" >
        </td>
    </tr>
</table>
</form>
</body>
</html>